@import '../abstract/variaveis';
#bg{
    background: $cor-de-fundo;
    width: 100%;
    height: 350px;
    text-align: center;
    .fruta{
        position:absolute;
        width: 80px;
        top: 45px;
        left: 750px
    }
    .cesto2{
        margin: 25px;
        width: auto;
        
    }
    .elipse{
        position: absolute;
        top: 320px;
        left: 475px;   
         
    }
}
main{
    width: 940px;
    margin: 0 auto;
    font-family: $fonte;
}
#form{    
    margin: 30px;
    text-align: center;
    font-family: $fonte;
    font-size: 1.2rem;
    form label{
        display: block;
        padding:20px;
    }
    form input{
        width: 50%;
        padding: 20px;
        border:none;
        text-align: center;
        border-radius: 10px;
        background: $fundo-input;
        text-transform: uppercase;

    }
   
    .btn {
        margin-top: 60px;
        background: #FFA451;
        width: 25%;
        height: 50px;
        border: none;
        border-radius: 30px;
        text-align: center;
        &.btn:hover{
            text-transform: uppercase;
        }
    }
    a{
        text-decoration: none;
        color: white;
    }
    

    
}
