@import '../abstract/variaveis';
#content{
    form label{
        @include font-title;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -1%;
        text-align: center;
        margin-left: -2px;
    }
    form input{
        width: 327px;
        height: 56px;
        border-radius: 10px;
        border: none;
        background-color: #F7F5F5;
        display: block;
        
    }
}