#imagem{
    .imagem{
        text-align: center;
        width: 100%;
        img{
            margin: 200px;
            width: 300px;
        }
    }
}


// @media screen and (max-width: 480px){
//     .box{
//         top:303px;
//         left: 95px;
//         width: 190px;

//     }
    
// }