@import '../abstract/variaveis';
    .fundobranco{
        background: #FFFFFF;
        font-family:'TT Norms Pro', sans-serif;
        .nav-bar{
            ul li{
                .relogio{
                    position: absolute;
                    width:54px;
                    left: 21px;
                    right: 300px;
                    top: 14px;
                    bottom: 11px;
                }
                .sinal{
                    position: absolute;
                    width: 17px;
                    height: 10.67px;
                    top: 17.67px;
                    left:293.67px;
                }
                .wifi{
                    position: absolute;
                    width: 15.27px;
                    height: 10.97px;
                    top: 17.33px;
                    left: 315.69px;
                }
                .bateria{
                    position:absolute;
                    width: 24.33px;
                    height: 11.33px;
                    top: 17.33px;
                    left: 336px;
                }
            }
        }
        
    }



#imagem{
    .imagem{
        .box{
            position: absolute;
            width: 184px;
            height: 205.05px;
            top: 303px;
            left: 95px;
        }
        
    }
    .c-loader {
        animation: is-rotating 1s infinite;
        border: 6px solid #e6e6e6;
        border-radius: 50%;
        border-top-color: $cor-de-fundo;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 550px;
        left: 158.2px;

      }
      
      @keyframes is-rotating {
        to {
          transform: rotate(1turn);
        }
      }
    
}