@import '../abstract/variaveis';
    #Welcome-header{
        background: $cor-de-fundo;
        text-align: center;
        width: 375px;
        height: 469px;
        @include nav;
        .cesto{
            position: absolute;
            width: 301px;
            height: 260px;
            top: 131px;
            left: 35px;
            right: 39px;
            bottom: 78px;
        }
        .fruta{
            position: absolute;
            width: 50px;
            height: 37.52px;
            top: 131px;
            right: 31px;
            left: 282px;
            bottom:300.48px;
        }
        .sombra{
            position: absolute;
            width: 301px;
            height: 12px;
            top: 423px;
            left: 37px;
            right: 37px;
            bottom: 34px;
        }
    }
    
    @mixin font-title {
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #27214D;
            margin-left: 24px;
    }
    @mixin font-text {
        font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 16px;
            margin-left: 24px;
            color: #27214D;
            
    }
    #content{
        padding: 8px;
        text-align: left;
        vertical-align: bottom;
        margin: 40px 24px 92px 24px;
        .title{
            line-height: 19.17px;
            font-style: bold;
            letter-spacing: -1%;
            @include font-title();
        }
        .p{
            line-height: 24px;
            @include font-text();
        }
        .btn{
            position: absolute;
            width: 327px;
            height: 56px;
            left: 24px;
            top: 664px;
            border-radius: 10px;
            background: $cor-de-fundo;
            a{
                text-decoration: none;
                color:white;
                font-weight: 500px;
                font-size: 16px;
                text-align: center;
            }
        }
    }

 
             
    


    