.fundobranco {
  background: #FFFFFF;
}

.fundobranco .nav-bar ul li .relogio {
  position: absolute;
  width: 54px;
  left: 21px;
  right: 300px;
  top: 14px;
  bottom: 11px;
}

.fundobranco .nav-bar ul li .sinal {
  position: absolute;
  width: 17px;
  height: 10.67px;
  top: 17.67px;
  left: 293.67px;
}

.fundobranco .nav-bar ul li .wifi {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  top: 17.33px;
  left: 315.69px;
}

.fundobranco .nav-bar ul li .bateria {
  position: absolute;
  width: 24.33px;
  height: 11.33px;
  top: 17.33px;
  left: 336px;
}

#imagem .imagem .box {
  position: absolute;
  width: 184px;
  height: 205.05px;
  top: 303px;
  left: 95px;
}

#Welcome-header {
  background: #FFA451;
  text-align: center;
  width: 375px;
  height: 469px;
}

#Welcome-header .nav-bar ul li .relogio {
  position: absolute;
  width: 54px;
  left: 21px;
  right: 300px;
  top: 14px;
  bottom: 11px;
}

#Welcome-header .nav-bar ul li .sinal {
  position: absolute;
  width: 17px;
  height: 10.67px;
  top: 17.67px;
  left: 293.67px;
}

#Welcome-header .nav-bar ul li .wifi {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  top: 17.33px;
  left: 315.69px;
}

#Welcome-header .nav-bar ul li .bateria {
  position: absolute;
  width: 24.33px;
  height: 11.33px;
  top: 17.33px;
  left: 336px;
}

#Welcome-header .cesto {
  position: absolute;
  width: 301px;
  height: 260px;
  top: 131px;
  left: 35px;
  right: 39px;
  bottom: 78px;
}

#Welcome-header .fruta {
  position: absolute;
  width: 50px;
  height: 37.52px;
  top: 131px;
  right: 31px;
  left: 282px;
  bottom: 300.48px;
}

#Welcome-header .sombra {
  position: absolute;
  width: 301px;
  height: 12px;
  top: 423px;
  left: 37px;
  right: 37px;
  bottom: 34px;
}

#content {
  padding: 8px;
  text-align: left;
  vertical-align: bottom;
  margin: 40px 24px 92px 24px;
}

#content .title {
  line-height: 19.17px;
  font-style: bold;
  letter-spacing: -1%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #27214D;
  margin-left: 24px;
}

#content .p {
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 24px;
  color: #27214D;
}

#content .btn {
  position: absolute;
  width: 327px;
  height: 56px;
  left: 24px;
  top: 664px;
  border-radius: 10px;
  background: #FFA451;
}

#content .btn a {
  text-decoration: none;
  color: white;
  font-weight: 500px;
  font-size: 16px;
  text-align: center;
}

#aut-header {
  background: #FFA451;
  text-align: center;
  width: 375px;
  height: 469px;
}

#aut-header .nav-bar ul li .relogio {
  position: absolute;
  width: 54px;
  left: 21px;
  right: 300px;
  top: 14px;
  bottom: 11px;
}

#aut-header .nav-bar ul li .sinal {
  position: absolute;
  width: 17px;
  height: 10.67px;
  top: 17.67px;
  left: 293.67px;
}

#aut-header .nav-bar ul li .wifi {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  top: 17.33px;
  left: 315.69px;
}

#aut-header .nav-bar ul li .bateria {
  position: absolute;
  width: 24.33px;
  height: 11.33px;
  top: 17.33px;
  left: 336px;
}

#aut-header .cesto {
  position: absolute;
  width: 301px;
  height: 260px;
  top: 131px;
  left: 35px;
  right: 39px;
  bottom: 78px;
}

#aut-header .fruta {
  position: absolute;
  width: 50px;
  height: 37.52px;
  top: 131px;
  right: 31px;
  left: 282px;
  bottom: 300.48px;
}

#aut-header .sombra {
  position: absolute;
  width: 301px;
  height: 12px;
  top: 423px;
  left: 37px;
  right: 37px;
  bottom: 34px;
}

#content form label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #27214D;
  margin-left: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: center;
  margin-left: -2px;
}

#content form input {
  width: 327px;
  height: 56px;
  border-radius: 10px;
  border: none;
  background-color: #F7F5F5;
  display: block;
}

#home-header .nav-bar ul li .relogio {
  position: absolute;
  width: 54px;
  left: 21px;
  right: 300px;
  top: 14px;
  bottom: 11px;
}

#home-header .nav-bar ul li .sinal {
  position: absolute;
  width: 17px;
  height: 10.67px;
  top: 17.67px;
  left: 293.67px;
}

#home-header .nav-bar ul li .wifi {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  top: 17.33px;
  left: 315.69px;
}

#home-header .nav-bar ul li .bateria {
  position: absolute;
  width: 24.33px;
  height: 11.33px;
  top: 17.33px;
  left: 336px;
}

#home-header .barras .maior {
  width: 22px;
  height: 2.75px;
  position: absolute;
  top: 56.25px;
  right: 329px;
  bottom: 752.75px;
  left: 24px;
}

#home-header .barras .menor {
  width: 13.75px;
  height: 2.75px;
  position: absolute;
  top: 64.75px;
  right: 337.25px;
  bottom: 744.5px;
  left: 24px;
}

#home-header .user {
  width: 106px;
  height: 24px;
  position: absolute;
  top: 50px;
  right: 207px;
  bottom: 738px;
  left: 62px;
}

#home-header .cart {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 38px;
  right: 24px;
  bottom: 726px;
  left: 303px;
}

#home-header ul li .search-symbol {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 106px;
  right: 315px;
  bottom: 690px;
  left: 44px;
}

#home-header ul li #search {
  background: #F5F5F5;
  width: 288px;
  height: 56px;
  position: absolute;
  top: 86px;
  right: 67px;
  bottom: 670px;
  left: 20px;
  border: none;
  text-align: center;
  border-radius: 16px;
  opacity: 0.7;
}

#home-header .left {
  width: 19px;
  height: 8px;
  position: absolute;
  top: 104px;
  right: 38px;
  bottom: 700px;
  left: 318px;
}

#home-header .right {
  width: 19px;
  height: 8px;
  position: absolute;
  top: 113px;
  right: 38px;
  bottom: 691px;
  left: 318px;
}

.main-home .lista li {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  display: inline;
  position: relative;
  top: 226px;
  left: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-home .lista li a {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  text-align: center;
  color: black;
}

.main-home #recomendacao h4 {
  width: 190px;
  height: 30px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  top: 298px;
  right: 161px;
  bottom: 484px;
  left: 24px;
}

.main-home #recomendacao .bar {
  position: absolute;
  width: 56px;
  top: 334px;
  right: 295px;
  bottom: 478px;
  left: 24px;
}

.main-home #recomendacao .cards {
  position: relative;
  top: 350px;
  left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-home #recomendacao .cards .card1 {
  margin-left: 24px;
}

.main-home #recomendacao .cards .card1 .favorito {
  position: absolute;
  top: 0px;
  right: 16px;
  bottom: 431.68px;
  left: 120px;
}

.main-home #recomendacao .cards .card1 h5 {
  color: #27214D;
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  width: 117px;
  height: 18px;
  left: 0;
}

.main-home #recomendacao .cards .card1 .simbolo {
  position: absolute;
  top: 110px;
  right: 76px;
  bottom: 20px;
  left: 0px;
}

.main-home #recomendacao .cards .card1 p {
  position: absolute;
  top: 109px;
  left: 22px;
  color: #FFA451;
}

.main-home #recomendacao .cards .card1 .adicionar {
  position: absolute;
  top: 105px;
  left: 120px;
}

.main-home #recomendacao .cards .card2 {
  position: absolute;
  left: 199px;
  text-align: center;
}

.main-home #recomendacao .cards .card2 .favorito {
  position: absolute;
  top: 0px;
  right: -5px;
}

.main-home #recomendacao .cards .card2 .simbolo {
  position: absolute;
  top: 110px;
  left: 0px;
}

.main-home #recomendacao .cards .card2 h5 {
  color: #27214D;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  width: 127px;
  height: 18px;
  left: 0;
}

.main-home #recomendacao .cards .card2 p {
  position: absolute;
  top: 109px;
  left: 22px;
  color: #FFA451;
}

.main-home #recomendacao .cards .card2 .adicionar {
  position: absolute;
  top: 105px;
  right: -5px;
}

.main-home #selecao .opcoes .linha {
  width: 38px;
  position: absolute;
  top: 590px;
  right: 313px;
  left: 34px;
}

.main-home #selecao .opcoes .p {
  position: absolute;
  top: 573px;
  right: 101px;
  bottom: 209;
  left: 24px;
}

.main-home #selecao .opcoes .p li {
  display: inline;
}

.main-home #selecao .opcoes .p li:first-child {
  opacity: 1;
}

.main-home #selecao .opcoes .p li:nth-child(2) {
  opacity: 0.7;
}

.main-home #selecao .opcoes .p li:nth-child(3) {
  opacity: 0.7;
}

.main-home #selecao .opcoes .p a {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: #27214D;
  font-weight: 400;
}

.main-home #selecao .others .plate1 {
  width: 140px;
  height: 150px;
  position: absolute;
  top: 633px;
  left: 24px;
  right: 211px;
}

.main-home #selecao .others .plate1 .coracao {
  position: absolute;
  top: 0px;
  right: 16px;
}

.main-home #selecao .others .plate1 h5 {
  position: absolute;
  left: 0;
  width: 111px;
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #27214D;
}

.main-home #selecao .others .plate1 .simbolo {
  position: absolute;
  top: 110px;
  left: 0;
}

.main-home #selecao .others .plate1 p {
  position: absolute;
  top: 109px;
  left: 20px;
  color: #FFA451;
}

.main-home #selecao .others .plate1 .adicionar {
  position: absolute;
  top: 103px;
  right: 16px;
}

.main-home #selecao .others .plate2 {
  position: absolute;
  top: 633px;
  left: 180px;
}

.main-home #selecao .others .plate2 .coracao {
  position: absolute;
  top: 0px;
  right: -25px;
}

.main-home #selecao .others .plate2 h5 {
  position: absolute;
  top: 65px;
  left: 0;
  width: 111px;
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #27214D;
}

.main-home #selecao .others .plate2 .simbolo {
  position: absolute;
  top: 109px;
  left: 0;
}

.main-home #selecao .others .plate2 p {
  position: absolute;
  top: 108px;
  left: 20px;
  color: #FFA451;
}

.main-home #selecao .others .plate2 .adicionar {
  position: absolute;
  top: 102px;
  right: -25px;
}

.main-home #selecao .others .plate2 a {
  position: absolute;
  top: 102px;
  left: -50px;
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */